In [2]:
a=input("enter your name")
print (a)

In [7]:
v=int(input("enter number"))
print(v)

5

In [8]:
a=int(input("enter number"))
if a>10:
    print("greater")
elif a==10:
    print("equal")
else :
    print("smaller")

greater

#SHORT HAND IF

In [9]:
a=int(input("enter number"))
b=int(input("enter number"))
if a>b: print("a greater than b")

a greater than b

#Short Hand if___else

In [10]:
a=2
b=67
print("A") if a>b else print("B")

B

In [11]:
a=300
b=300

print("A") if a>b else print("=") if a==b else print("B")

=

In [12]:
a=200
b=30
c=500

if a>b and c>a:
    print("both condition are true")

both condition are true

NOT USE

In [13]:
a=33
b=200
if not a>b:
    print("A is not greater")

A is not greater

In [14]:
a=int(input("enter"))
match a:
    case 1:
        print("monday")
    case 2:
        print("tuesday")
    case 3:
        print("wednesday")
    case _:
        print("invalid input")

invalid input

In [15]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5 if month==5:
        print("weekday")
    case _:
        print("invalid input")

invalid input

In [16]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5:
        print("weekday")
    case 6|7:
        print("weekend")
    case _:
        print("invalid input")

invalid input

#while loop

In [17]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [18]:
#wap to find the square of a number
n=int(input("enter nummber"))
print("square is ",n**2)

square is  25

In [19]:
#wap to take two numbers and print their sum
a=int(input("enter a number"))
b=int(input("enter a number"))
print("sum is ",a+b)

sum is  10

In [20]:
#wap to to swap two variables
a=int(input("enter a number"))
b=int(input("enter a number"))
a,b=b,a
print("a:",a,"b:",b)

a: 5 b: 5

In [21]:
#WAP TO CHECK NUMBER IS EVEN OR ODD
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

odd

In [22]:
#mini program example-Number guessing game
b=10
a=int(input("enter a number"))
if a==b:
    print("yes")
else:
    print("NO")

NO

In [23]:
#wap to convert celcius into fahrenheit
c=int(input("enter a number"))
f=(c*9/5)+32
print("fahrenheit is ",f)

fahrenheit is  41.0

In [25]:
#WAP TO CALCULATE SIMPLE INTEREST
p=int(input("enter p"))
r=int(input("enter r"))
t=int(input("ente t"))
print("SI Is:",(p*r*t)/100)

SI Is: 2.1

In [26]:
#wap to reverse a string
s=input("enter a string")
print(s[::-1])

lkjhgfdsa

In [ ]:
 i=1
 while i<6:
        print(i)
        if i==3:
            break
        i+=1

1
2
3

In [ ]:
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [34]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)    
print(type(fruits))
type(fruits)

apple
banana
cherry
<class 'list'>

list

In [36]:
for x in "Apple":
    print(x)

A
p
p
l
e

#break statement with list

In [37]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [43]:
fruits=["apple","banana","cherry"]
for x in fruits:
        
    if x=="banana":
        continue  
    print(x)

apple
cherry

for with range

In [45]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [46]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [47]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

while with else

In [49]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer ")

1
2
3
4
5
i is no longer

In [51]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("finally")

1
2
3
4
5
finally

In [53]:
a=["A","B","C"]
fruits=["Apple","Banana","Cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A Banana
A Cherry
B Apple
B Banana
B Cherry
C Apple
C Banana
C Cherry

In [54]:
for x in [0,1,2,3]:
    pass