In [ ]:
a=input("enter your name")
print (a)

In [ ]:
v=int(input("enter number"))
print(v)

5

In [ ]:
a=int(input("enter number"))
if a>10:
    print("greater")
elif a==10:
    print("equal")
else :
    print("smaller")

greater

#SHORT HAND IF

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
if a>b: print("a greater than b")

a greater than b

#Short Hand if___else

In [ ]:
a=2
b=67
print("A") if a>b else print("B")

B

In [ ]:
a=300
b=300

print("A") if a>b else print("=") if a==b else print("B")

=

In [ ]:
a=200
b=30
c=500

if a>b and c>a:
    print("both condition are true")

both condition are true

NOT USE

In [ ]:
a=33
b=200
if not a>b:
    print("A is not greater")

A is not greater

In [ ]:
a=int(input("enter"))
match a:
    case 1:
        print("monday")
    case 2:
        print("tuesday")
    case 3:
        print("wednesday")
    case _:
        print("invalid input")

invalid input

In [ ]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5 if month==5:
        print("weekday")
    case _:
        print("invalid input")

invalid input

In [ ]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5:
        print("weekday")
    case 6|7:
        print("weekend")
    case _:
        print("invalid input")

invalid input

#while loop

In [ ]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
#wap to find the square of a number
n=int(input("enter nummber"))
print("square is ",n**2)

square is  25

In [ ]:
#wap to take two numbers and print their sum
a=int(input("enter a number"))
b=int(input("enter a number"))
print("sum is ",a+b)

sum is  10

In [ ]:
#wap to to swap two variables
a=int(input("enter a number"))
b=int(input("enter a number"))
a,b=b,a
print("a:",a,"b:",b)

a: 5 b: 5

In [ ]:
#WAP TO CHECK NUMBER IS EVEN OR ODD
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

odd

In [ ]:
#mini program example-Number guessing game
b=10
a=int(input("enter a number"))
if a==b:
    print("yes")
else:
    print("NO")

NO

In [ ]:
#wap to convert celcius into fahrenheit
c=int(input("enter a number"))
f=(c*9/5)+32
print("fahrenheit is ",f)

fahrenheit is  41.0

In [ ]:
#WAP TO CALCULATE SIMPLE INTEREST
p=int(input("enter p"))
r=int(input("enter r"))
t=int(input("ente t"))
print("SI Is:",(p*r*t)/100)

SI Is: 2.1

In [ ]:
#wap to reverse a string
s=input("enter a string")
print(s[::-1])

lkjhgfdsa

In [ ]:
 i=1
 while i<6:
        print(i)
        if i==3:
            break
        i+=1

1
2
3

In [ ]:
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)    
print(type(fruits))
type(fruits)

apple
banana
cherry
<class 'list'>

list

In [ ]:
for x in "Apple":
    print(x)

A
p
p
l
e

#break statement with list

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [ ]:
fruits=["apple","banana","cherry"]
for x in fruits:
        
    if x=="banana":
        continue  
    print(x)

apple
cherry

for with range

In [ ]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

while with else

In [ ]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer ")

1
2
3
4
5
i is no longer

In [ ]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("finally")

1
2
3
4
5
finally

In [ ]:
a=["A","B","C"]
fruits=["Apple","Banana","Cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A Banana
A Cherry
B Apple
B Banana
B Cherry
C Apple
C Banana
C Cherry

In [ ]:
for x in [0,1,2,3]:
    pass

LIST

In [ ]:
list1=["aryan",1,5]
print(list1)

In [ ]:
list1=["aryan",1,5,"rohan"]
print(list1)

list constructor

In [ ]:
list2=list(("apple","banana","cherry",1,2))
print(list2)

In [ ]:
#access item in list
list1=["aryan",1,5,"rohan"]
print(list1[0])
print(list1[1])
print(list1[2])

In [ ]:
list1=["aryan",1,5,"rohan"]
print(list1[-1])

In [ ]:
list1=["aryan",1,5,"rohan"]
del list1["rohan"]
del list1[0]
print(list1)

In [ ]:
list1=["aryan",2,6,"rohan"]
list11.clear()
print(list1)

In [3]:
list1=["aryan",1,5,"rohan"]
for i  in range(len(list1)):
    print(list1[i])

aryan
1
5
rohan

In [4]:
list1=["aryan",1,5,"rohan"]
i=0
while i<len(list1):
    print(list1[i])
    i+=1

aryan
1
5
rohan

In [6]:
fruits=["apple","banana","cherry"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY']