In [ ]:
a=input("enter your name")
print (a)

In [ ]:
v=int(input("enter number"))
print(v)

5

In [ ]:
a=int(input("enter number"))
if a>10:
    print("greater")
elif a==10:
    print("equal")
else :
    print("smaller")

greater

#SHORT HAND IF

In [ ]:
a=int(input("enter number"))
b=int(input("enter number"))
if a>b: print("a greater than b")

a greater than b

#Short Hand if___else

In [ ]:
a=2
b=67
print("A") if a>b else print("B")

B

In [ ]:
a=300
b=300

print("A") if a>b else print("=") if a==b else print("B")

=

In [ ]:
a=200
b=30
c=500

if a>b and c>a:
    print("both condition are true")

both condition are true

NOT USE

In [ ]:
a=33
b=200
if not a>b:
    print("A is not greater")

A is not greater

In [ ]:
a=int(input("enter"))
match a:
    case 1:
        print("monday")
    case 2:
        print("tuesday")
    case 3:
        print("wednesday")
    case _:
        print("invalid input")

invalid input

In [ ]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5 if month==5:
        print("weekday")
    case _:
        print("invalid input")

invalid input

In [ ]:
month=int(input("enter"))
match a:
    case 1|2|3|4|5:
        print("weekday")
    case 6|7:
        print("weekend")
    case _:
        print("invalid input")

invalid input

#while loop

In [ ]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [ ]:
#wap to find the square of a number
n=int(input("enter nummber"))
print("square is ",n**2)

square is  25

In [ ]:
#wap to take two numbers and print their sum
a=int(input("enter a number"))
b=int(input("enter a number"))
print("sum is ",a+b)

sum is  10

In [ ]:
#wap to to swap two variables
a=int(input("enter a number"))
b=int(input("enter a number"))
a,b=b,a
print("a:",a,"b:",b)

a: 5 b: 5

In [ ]:
#WAP TO CHECK NUMBER IS EVEN OR ODD
a=int(input("enter a number"))
if a%2==0:
    print("even")
else:
    print("odd")

odd

In [ ]:
#mini program example-Number guessing game
b=10
a=int(input("enter a number"))
if a==b:
    print("yes")
else:
    print("NO")

NO

In [ ]:
#wap to convert celcius into fahrenheit
c=int(input("enter a number"))
f=(c*9/5)+32
print("fahrenheit is ",f)

fahrenheit is  41.0

In [ ]:
#WAP TO CALCULATE SIMPLE INTEREST
p=int(input("enter p"))
r=int(input("enter r"))
t=int(input("ente t"))
print("SI Is:",(p*r*t)/100)

SI Is: 2.1

In [ ]:
#wap to reverse a string
s=input("enter a string")
print(s[::-1])

lkjhgfdsa

In [ ]:
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [3]:
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [4]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)    
print(type(fruits))
type(fruits)

apple
banana
cherry
<class 'list'>

list

In [5]:
for x in "Apple":
    print(x)

A
p
p
l
e

#break statement with list

In [6]:
fruits=["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [7]:
fruits=["apple","banana","cherry"]
for x in fruits:
        
    if x=="banana":
        continue  
    print(x)

apple
cherry

for with range

In [8]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

while with else

In [11]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer ")

1
2
3
4
5
i is no longer

In [12]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("finally")

1
2
3
4
5
finally

In [13]:
a=["A","B","C"]
fruits=["Apple","Banana","Cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A Banana
A Cherry
B Apple
B Banana
B Cherry
C Apple
C Banana
C Cherry

In [14]:
for x in [0,1,2,3]:
    pass

LIST

In [15]:
list1=["aryan",1,5]
print(list1)

['aryan', 1, 5]

In [16]:
list1=["aryan",1,5,"rohan"]
print(list1)

['aryan', 1, 5, 'rohan']

list constructor

In [21]:
list = ["apple", "banana", "cherry", 1, 2]
print(list)

['apple', 'banana', 'cherry', 1, 2]

In [ ]:
#access item in list
list1=["aryan",1,5,"rohan"]
print(list1[0])
print(list1[1])
print(list1[2])

In [ ]:
list1=["aryan",1,5,"rohan"]
print(list1[-1])

In [ ]:
list1=["aryan",1,5,"rohan"]
del list1["rohan"]
del list1[0]
print(list1)

In [ ]:
list1=["aryan",2,6,"rohan"]
list1.clear()
print(list1)

In [ ]:
list1=["aryan",1,5,"rohan"]
for i  in range(len(list1)):
    print(list1[i])

aryan
1
5
rohan

In [ ]:
list1=["aryan",1,5,"rohan"]
i=0
while i<len(list1):
    print(list1[i])
    i+=1

aryan
1
5
rohan

In [ ]:
fruits=["apple","banana","cherry"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
fruits=["apple","banana","cherry"]
newlist=[x.capitalize() for x in fruits]
print(newlist)

['Apple', 'Banana', 'Cherry']

In [ ]:
#sort
list=[56,46,646,46,64,35]
list.sort()
print(list)

[35, 46, 46, 56, 64, 646]

In [ ]:
list=[56,46,646,46,64,35]
list.sort(reverse=True)
print(list)

[646, 64, 56, 46, 46, 35]

In [ ]:
list=[56,46,646,46,64,35]
list.reverse()
print(list)

[35, 64, 46, 646, 46, 56]

In [22]:
#to copy data from one list to another
list1=["aryan",1,5,"rohan"]
list2=list1.copy()
print(list2)

['aryan', 1, 5, 'rohan']

In [44]:
#another method to copy
P= ["aryan", 1, 5, "rohan"]
print(P)
B = list(P)# use another variable name instead of 'list'
print(B)

['aryan', 1, 5, 'rohan']

TypeError: 'list' object is not callable

In [ ]:
#another method to copy
L= ["aryan", 1, 5, "rohan"]
list2 = L.copy()
print(list2)

['aryan', 1, 5, 'rohan']

In [ ]:
#to join two lists
list1=["aryan",1,5,"rohan"]
list2=["hello",3,6,"hi"]
list3=list1+list2
print(list3)

['aryan', 1, 5, 'rohan', 'hello', 3, 6, 'hi']

In [ ]:
list1=["aryan",1,5,"rohan"]
list2=[1,2,3,4]
for s in list2:
    list1.append(s)
print(list1)

['aryan', 1, 5, 'rohan', 1, 2, 3, 4]

In [ ]:
list1=["a", "b", "c"]
list2=[1,2,3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

TUPLE

In [1]:
mytuple=("apple","banana","cherry")

In [3]:
mytuple

('apple', 'banana', 'cherry')

tuple constructor

In [4]:
T=tuple(("apple","banana","cherry"))
print(T)

('apple', 'banana', 'cherry')

In [5]:
T[1]

'banana'

In [6]:
T[-1]

'cherry'

In [7]:
thistuple=("apple","banana","cherry","orange","kiwi","melon")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [8]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon')

In [9]:
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')

check if this exist

In [10]:
thistuple=("apple","banana","cherry")
if "apple" in thistuple:
	print("Yes, 'apple' is in the tuple")

Yes, 'apple' is in the tuple

In [11]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

#add item

In [13]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [17]:
thistuple=("apple","banana","cherry")
y=("orange",)
thistuple+=y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

remove item

In [15]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)

unpacking tuple

In [16]:
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [18]:
fruits=("apple","banana","cherry","strawberry","raspberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [19]:
fruits=("apple","banana","cherry","strawberry","raspberry")
(green,*yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [20]:
fruits=("apple","banana","cherry","strawberry","raspberry")
(*green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

['apple', 'banana', 'cherry']
strawberry
raspberry

#dictionary

In [21]:
d={
    "brand":"BMW",
    "mod":"xyz"
}
print(d)

{'brand': 'BMW', 'mod': 'xyz'}